[Unit]
Description=Wack-A-Mole Gateway
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/wackamole-gateway
Restart=on-failure
User=user
Group=user

[Install]
WantedBy=multi-user.target